version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      minor-and-patch-version-updates:
        update-types:
          - minor
          - patch
  - package-ecosystem: "npm"
    directory: "/playground"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "@seatsio/seatsio-types"
    groups:
      minor-and-patch-version-updates:
        update-types:
          - minor
          - patch
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
    groups:
      minor-and-patch-version-updates:
        update-types:
          - minor
          - patch